<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Labelling app</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="static/bbox_annotator.js"></script>
  </head>
  <body>
    <div class="column">
    <h1>Image labelling app</h1>
    <p>
      If you have questions, see the <a href="static/tutorial.html">tutorial</a>.
    </p>

    <p>Number of images submitted: <a id="submission_count">0</a></p>

    <h2>Image</h2>
      <div id="bbox_annotator" style="text-align:center;"></div>
      <p class="image-caption">ID {{image_id}}</p>
      <button id="submit-button" type="button" onclick="sendBoxes()" style="position:absolute;left:50%;">Submit</button>
    </div>

    <script>
    var editor;

    $(document).ready(function() {
      editor = new BBoxAnnotator({
        url: '{{image_link}}',
        input_method: 'fixed',
        border_width: 1,
        width: 1280,
        height: 960,
        onchange: function(annotation) {}
      });
    });

    var submits = 0;

    function doPost(data, onSuccess, onFailure) {
      $.ajax({
        type: 'POST',
        url: 'post_label',
        contentType: 'application/json;charset=utf-8',
        dataType: 'json',
        data: JSON.stringify(data),
        success: function(data) {
          location.reload(true);
          submits++;
          localStorage.setItem("submission_count", submits);
          document.getElementById("submission_count").innerHTML = submits;
        },
        error: function(msg) {
          alert('Submitting failed');
          $('#submit-button').prop('disabled', false);
        }
      });
    }

    function initSubmits() {
      var submitStr = localStorage.getItem("submission_count");
      if (submitStr == undefined) {
        localStorage.setItem("submission_count", 0);
      } else {
        submits = parseInt(submitStr);
      }
      document.getElementById("submission_count").innerHTML = submits;
    }

    function sendBoxes() {
      if (editor.entries.length == 0) {
        alert('Create selections before submitting');
        return;
      }
      var labels = [];
      for (var i = 0; i < editor.entries.length; i++) {
        var box = editor.entries[i];
        labels.push({
          'x': (box['left'] + box['width'] / 2) / 1280,
          'y': (box['top'] + box['height'] / 2) / 960,
          'width': box['width'] / 1280,
          'height': box['height'] / 960
        });
      }

      $('#submit-button').prop('disabled', true);
      doPost({'labels': labels, 'image_id': '{{image_id}}'});
    }

    initSubmits();
    </script>
  </body>
</html>
